apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-test-argo
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-test-argo
  template:
    metadata:
      labels:
        app: nginx-test-argo
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-test-svc
  namespace: default
spec:
  ports:
  - port: 80
  selector:
    app: nginx-test-argo