# ServiceMonitor pour Cilium Agent (métriques Hubble)
# apiVersion: monitoring.coreos.com/v1
# kind: ServiceMonitor
# metadata:
#   name: cilium-agent
#   namespace: kube-system
#   labels:
#     app.kubernetes.io/name: cilium-agent
# spec:
#   selector:
#     matchLabels:
#       k8s-app: cilium
#   endpoints:
#   - port: hubble-metrics
#     interval: 30s
#     path: /metrics

# ---
# # ServiceMonitor pour Cilium Operator

# apiVersion: monitoring.coreos.com/v1
# kind: ServiceMonitor
# metadata:
#   name: cilium-operator
#   namespace: kube-system
#   labels:
#     app.kubernetes.io/name: cilium-operator
# spec:
#   selector:
#     matchLabels:
#       io.cilium/app: operator
#       name: cilium-operator
#   endpoints:
#   - port: prometheus
#     interval: 30s
#     path: /metrics


###MISE A JOUR#################
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: cilium-agent
  namespace: kube-system
  labels:
    release: kube-prometheus-stack # <--- DOIT CORRESPONDRE AU NOM HELM
spec:
  selector:
    matchLabels:
      k8s-app: cilium
  endpoints:
  - port: metrics
    interval: 30s
  # - port: hubble-metrics
  #   interval: 30s

---
# ServiceMonitor pour Cilium Operator
# apiVersion: monitoring.coreos.com/v1
# kind: ServiceMonitor
# metadata:
#   name: cilium-operator
#   namespace: kube-system
#   labels:
#     release: kube-prometheus-stack # <--- IDEM ICI
# spec:
#   selector:
#     matchLabels:
#       io.cilium/app: operator
#   endpoints:
#   - port: metrics
#     interval: 30s
# apiVersion: monitoring.coreos.com/v1
# kind: ServiceMonitor
# metadata:
#   name: cilium-operator
#   namespace: kube-system
#   labels:
#     release: kube-prometheus-stack
# spec:
#   selector:
#     matchLabels:
#       io.cilium/app: operator
#   namespaceSelector:
#     matchNames:
#       - kube-system
#   endpoints:
#   - port: prometheus # <--- Changement ici (doit matcher le nom du port du Service)
#     interval: 30s
# 2. Moniteur pour Hubble (Port 9965)
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: cilium-hubble
  namespace: kube-system
  labels:
    release: kube-prometheus-stack
spec:
  # selector:
  #   matchLabels:
  #     # On cible le service qui porte Hubble
  #     app.kubernetes.io/name: hubble
  # endpoints:
  # - port: hubble-metrics
  #   interval: 30s
  selector:
    matchLabels:
      # On utilise le label que Cilium met par défaut sur ce service
      k8s-app: hubble
  namespaceSelector:
    matchNames:
      - kube-system
  endpoints:
  - port: hubble-metrics
    interval: 30s